<div class="row">
  <%= link_to 'Edit', edit_posting_path(@posting), class: 'btn btn-primary' %>
  <%= link_to 'Back', postings_path, class: 'btn btn-primary'%>
</div>
<div class="row">
  <div class="col" class="col-sm-12">
    <h3>Preview</h3>
    <%= @html_render %>

    <h3>Html code:</h3>
    <p>
      <%= @html %>
    </p>
  </div>
</div>
