<h1>Show Posting</h1>
<div class="row">
  <div class="btn-group">
    <%= link_to 'Edit', edit_posting_path(@posting), class: 'btn btn-secondary btn-sm' %>
    <%= link_to 'Back', postings_path, class: 'btn btn-secondary btn-sm'%>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <h3>Preview</h3>
    <div class="craigslist-preview">
      <%= @html_render %>
    </div>

    <h3>Html code:</h3>
    <p>
      <%= @html %>
    </p>
  </div>
</div>
