@import 'bootstrap';
@import 'postings';
@import 'scaffolds';

table{
  font-size: 11px;

  td, th{
    padding: 20px;
  }
}

a:visited{
  color: white;
}

// Roboto font
// @import url('https://fonts.googleapis.com/css?family=Roboto');