
.craigslist-preview{
  font-family: "Times New Roman", serif;
  color: #222;

  h3{
    font-weight: bold;
    font-size: 22px;
  }

  p{
    font-size: 19px;
    font-family: "Times New Roman", serif;
  }

  ul{
    font-family: "Times New Roman", serif;
    font-size: 19px;
    line-height: 1.1;
  }
}
